/* menu.css */
nav {
    background: rgba(0, 107, 119, 0.85);
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
}

nav a:hover, nav a.active {
    color: #FBB14E;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    nav a {
        margin-bottom: 10px;
    }
}
